<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="../css/bootstrap.min.css"
        th:href="@{/css/bootstrap.min.css}"
        rel="stylesheet">
  <style>
    .container {
      max-width: 560px;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="py-5 text-center">
    <h2>상품 수정 폼</h2>
  </div>
  <form action="member.html" th:action method="post">
    <div>
      <label for="id">상품 ID</label>
      <input type="text" id="id" name="id" class="form-control" th:value="${member.id}" value="1"
             readonly>
    </div>
    <div>
      <label for="memberName">회원이름</label>
      <input type="text" id="memberName" name="memberName" class="form-control"
             th:value="${member.memberName}" value="상품A">
    </div>
    <div>
      <label for="days">등록유형</label>
      <select type="text" id="days" name="days" class="form-control">
        <option value="주_3회" selected>주 3회</option>
        <option value="주_7회" >주 7회</option>
      </select>
    </div>
    <div>
      <label for="registerDate">등록일</label>
      <input type="text" id="registerDate" name="registerDate" class="form-control"
             th:value="${member.registerDate}" value="10">
    </div>

    <div>
      <label for="paymentDate">최근 결제일</label>
      <input type="text" id="paymentDate" name="paymentDate" class="form-control"
             th:value="${member.payStatement}" value="상품A">
    </div>
    <hr class="my-4">
    <div class="row">
      <div class="col">
        <button class="w-100 btn btn-primary btn-lg" type="submit">저장
        </button>
      </div>
      <div class="col">
        <button class="w-100 btn btn-secondary btn-lg"
                onclick="location.href='item.html'"
                th:onclick="|location.href='@{/basic/members/{memberId}(memberId=${member.id})}'|" type="button">취소</button>
      </div>
    </div>
  </form>
</div> <!-- /container -->
</body>
</html>